/*###################################################
* SCROLLY CSS
* adapted from: https://jsoma.github.io/simplified-scrollama-scrollytelling/sticky-overlay.html
*##################################################*/
#scrolly {
  position: relative;
  padding: 1rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: auto;
  height: 100vh;
  margin: 0;
  z-index: 0;
  top: 0;
  
  /* Center everything inside */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* .img-container { */
/*   background-color: #ff0000; */
/*   /1* background-image: url('../assets/img/BIS-bracket-h.png'); *1/ */
/*   /1* background-size: cover; *1/ */
/*   max-height: 88vh; */
/*   min-height: 80vh; */
/*   width: auto; */
/* } */

.sticky-thing h2 {
  margin: 0;
}

.sticky-thing img.desktop,
.sticky-thing img.mobile { 
  object-fit: contain;
  max-height: 95vh;
  min-height: 88vh;
}

.sticky-thing img.mobile { 
  visibility: hidden;
}

.sticky-thing p {
  font-size: 8rem;
  font-weight: 900;
  color: #000000;
}

.step {
  margin: 0 auto 45vh auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  /* height: ; */
}

.step:last-child {
  margin-bottom: 110vh;
}

.step.is-active p {
  border-style: dotted;
  border-color: #F7B72A;
  border-width: 4px;
}

.step p {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: #222222;
  background-color: #F2EFF3;
}
