/*###################################################
* SCROLLY CSS
* adapted from: https://jsoma.github.io/simplified-scrollama-scrollytelling/sticky-overlay.html
*##################################################*/
#scrolly {
  position: relative;
  width: 98vw;
  padding: 2rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: auto;
  margin: 0;
  z-index: 0;
  top: 0;
  
  /* Center everything inside */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sticky-thing h2 {
  margin: 0;
  text-align: center;
}

.sticky-thing img.desktop { 
  object-fit: contain;
  max-height: 90vh;
  min-height: 88vh;
}

.sticky-thing img.mobile { 
  display: none;
  object-fit: contain;
  width: 100vw;
}

.sticky-thing p {
  font-size: 8rem;
  font-weight: 900;
  color: #000000;
}

.step {
  margin: 0 auto 45vh auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.step:last-child {
  margin-bottom: 110vh;
}

.step.is-active p {
  border-style: dotted;
  border-color: #F7B72A;
  border-width: 4px;
}

.step p {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: #222222;
  background-color: #F2EFF3;
}

/* phone screens */
@media (max-width: 460px) {

  #scrolly {
    padding: 24px;
  }

.sticky-thing {
  height: auto;
}

.sticky-thing  img.desktop {
    display: none;
  }

.sticky-thing img.mobile {
    display: block;
    max-height: 86vh;
  }
}

/* medium tablet screens */
@media (min-width: 461px) and (max-width: 660px) {
  .chart-wrapper {
    padding-left: 2rem;
  }

  img.desktop {
    display: none;
  }
  
  .sticky-thing img.mobile {
    display: block;
    max-height: 95vh;
  }
}


/* bigger screens */
@media (min-width: 1600px) {

}


