/*#########################################
 *  CUSTOM STYLE SHEET 
 * ######################################*/
@import url('https://fonts.googleapis.com/css2?&family=Roboto+Mono&family=League+Script&family=Vibur&family=Yeseva+One&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E1DCE4;
  /* width: 90vw; */

  font-family: 'Tinos', serif;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'League Script', cursive;
  color: #462467;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  font-size: 20pt;
  font-weight: 600;
}

header {
  text-align: center;
  margin: auto;
}

header h1 {
  margin: 0;
}

header .author {
  font-size: 16pt;
  margin: 0;
}

header .date{
  font-size: 10pt;
  margin-top: 4px;
}

.framed {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.framed img,
.framed video {
  grid-row-start: 1;
  grid-column-start: 1;
  object-fit: contain;
}

.frame {
  z-index: 1;
  max-width: 98vw;
}

video {
  width: 90vw;
  max-width: 754px;
  height: auto;
}

.content-wrapper {
  margin: auto;
  /* position: relative; */
  /* height: 100vh; */
}

.content{
  width: 66vw;
  max-width: 760px;
  margin: auto;
  padding: 20px 0px;
}

.chart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.heatmap{ 
  max-width: 35vw;
  min-width: 460px;
}

.right-wrapper {
  width: auto;
}

.annotations {
  position: relative;
  /* width: 65vw; */
  /* font-family: 'Roboto Mono', monospace; */
}

.note-text, .note-img {
  background-color: #F2EFF3;
  height: auto;
  position: absolute;
  padding: 8px;

  font-family: 'Roboto Mono', monospace;
  font-size: 9pt;
  color: #222222;
}

.note-text .year, .note-img .year {
  margin: 0;
  font-size: 11pt;
  font-weight: 500;
  color: #462467;
}


.note-text p.annotation, .note-img p.annotation {
  margin-top: 4px;
  margin-bottom: 0;
}
.note-text  {
  width: 200px;
}

.note-img {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.note-img div {
  padding-left: 8px;
  padding-top: none;
}

.note-img img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.tooltip {
  background-color: #eeeeee;
  position: absolute;
  min-width: 80px;
  max-width: 140px;
  height: auto;
  padding: 6px;
  opacity: 0;

  z-index: 1;
  border: solid 1.5px #222222;
  margin: auto;

  font-family: 'Robo Mono', monospace;
  font-size: 8pt;
  word-wrap: break-word;
}

text.year {
  font-family: 'Roboto Mono', monospace;
  font-size: 11pt;
  vertical-align: baseline;
}

.legend {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 8px;
}

.legend svg text {
  fill: #222222;
}

text.label {
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  /* font-weight: 500; */

  fill: #222222;
}

svg.legend text {
  font-family: 'Roboto Mono', monospace;
  font-size: 8.5pt;
  fill: #000000;
}

circle.dogs {
  fill: url(#dog-gradient) #462467; 
}

.test {
  background-color: #ff0000;
  position: absolute;
  width: 100px;
  height: 100px;
}



