/*#########################################
 *  CUSTOM STYLE SHEET 
 * ######################################*/
@import url('https://fonts.googleapis.com/css2?&family=Roboto+Mono&family=League+Script&family=Vibur&family=Yeseva+One&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E1DCE4;

  font-family: 'Tinos', serif;
  font-weight: 400;
  font-size: 14pt;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'League Script', cursive;
  color: #462467;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  font-size: 20pt;
  font-weight: 600;
}

header {
  text-align: center;
  margin: auto;
  width: 98vw;
  padding: 2rem;
}

header h1 {
  margin: 0;
}

header .author {
  font-size: 16pt;
  margin: 0;
}

header .date{
  font-size: 10pt;
  margin-top: 4px;
}

.framed {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.framed img,
.framed video {
  grid-row-start: 1;
  grid-column-start: 1;
  object-fit: contain;
}

.frame {
  z-index: 1;
  max-width: 95vw;
}

video {
  width: 90vw;
  max-width: 754px;
  height: auto;
}

.content-wrapper {
  /* width: 100vw; */
  margin: auto;
}


.content {
  width: 55%;
  /* max-width: 800px; */
  margin: auto;
  /* padding: 0 2rem; */
}

img.show-name {
  width: 95%;
  max-width: 540px;
  object-fit: scale-down;
  padding: 16px;
}

.chart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.heatmap{ 
  /* max-width: 400px; */
}

/* .right-wrapper { */
/*   width: auto; */
/* } */

.annotations {
  position: relative;
}

.note-text, .note-img {
  background-color: #F2EFF3;
  height: auto;
  position: absolute;
  padding: 8px;

  font-family: 'Roboto Mono', monospace;
  font-size: 9pt;
  color: #222222;
}

.note-text .year, .note-img .year {
  margin: 0;
  font-size: 11pt;
  font-weight: 500;
  color: #462467;
}

.note-text p.annotation, .note-img p.annotation {
  margin-top: 4px;
  margin-bottom: 0;
}

.note-text  {
  width: 200px;
}

.note-img {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.note-img div {
  padding-left: 8px;
  padding-top: none;
}

.note-img img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.tooltip {
  background-color: #eeeeee;
  position: absolute;
  min-width: 20px;
  max-width: 140px;
  height: auto;
  padding: 6px;
  opacity: 0;

  z-index: 1;
  border: solid 1.5px #222222;
  margin: auto;

  font-family: 'Robo Mono', monospace;
  font-size: 8pt;
  word-wrap: break-word;
}

text.year {
  font-family: 'Roboto Mono', monospace;
  font-size: 11pt;
  vertical-align: baseline;
}

.legend {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 8px;
}

.legend svg text {
  fill: #222222;
}

text.label {
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  /* font-weight: 500; */

  fill: #222222;
}

svg.legend text {
  font-family: 'Roboto Mono', monospace;
  font-size: 8.5pt;
  fill: #000000;
}

circle.dogs {
  fill: url(#dog-gradient) #462467; 
}

.test {
  background-color: #ff0000;
  position: absolute;
  width: 100px;
  height: 100px;
}

/* phone screens */
@media (max-width: 460px) {
  header {
    padding: 0 24px;
  }

  .frame {
    max-width: 100vw;
  }

  .content {
    width: 100vw;
    padding: 24px;
  }

  .right-wrapper {
    display: none;
  }
}

/* medium tablet screens */
@media (max-width: 660px) {
  .annotations {
    display: none;
  }

  .content {
    width: 80%;
  }
}

/* standard desktops */
@media (min-width: 980px) {
  .chart-wrapper {
    padding: 0 10vw;
    /* column-gap: 20px; */
  }

  .note-text {
    width: 320px;
  }

  .note-img {
    width: 400px;
  }
}

/* bigger screens */
@media (min-width: 1600px) {

}
