/*#########################################
 *  CUSTOM STYLE SHEET 
 * ######################################*/
@import url('https://fonts.googleapis.com/css2?&family=Roboto+Mono&family=League+Script&family=Vibur&family=Yeseva+One&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* custom files not working? */
@font-face {
  font-family: 'cmunrm', serif;
  src: url('../assets/fonts/cmunrm.woff') 
}
@font-face {
  font-family: 'cmunbx', bold;
  font-weight: 700;
  src: url('../assets/fonts/cmunbx.woff')
}
@font-face {
  font-family: 'cmunti', italic;
  src: url('../assets/fonts/cmunti.woff') 
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E1DCE4;
  /* width: 90vw; */

  font-family: 'Tinos', serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  /* font-family: 'Vibur', cursive; */
  /* font-family: 'Yeseva One', cursive; */
  font-family: 'League Script', cursive;
  font-size: 36pt;
  color: #462467;
}

header {
  background-color: #eeeeee;
  margin: auto;
  text-align: center;
}

.content-wrapper {
  margin: auto;
  /* position: relative; */
  /* height: 100vh; */
}

.content{
  width: 66vw;
  max-width: 760px;
  margin: auto;
  padding: 20px 0px;
}

.chart-wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.heatmap{ 
  max-width: 35vw;
  min-width: 460px;
}

.annotations {
  width: 65vw;
}

.annotation {
  background-color: #ff0000;

}

.tooltip {
  background-color: #eeeeee;
  position: absolute;
  min-width: 80px;
  max-width: 140px;
  height: auto;
  padding: 6px;
  opacity: 0;

  z-index: 1;
  border: solid 1.5px #222222;
  margin: auto;

  font-family: 'Robo Mono', monospace;
  font-size: 8pt;
  word-wrap: break-word;
}

text.year {
  font-family: 'Roboto Mono', monospace;
  font-size: 11pt;
  vertical-align: baseline;
}

.legend {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 8px;
}

text.label {
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  /* font-weight: 500; */

  fill: #000000;
}

svg.legend text {
  font-family: 'Roboto Mono', monospace;
  font-size: 8.5pt;
  fill: #000000;
}

circle.dogs {
  fill: url(#dog-gradient) #462467; 
}

.test {
  background-color: #ff0000;
  position: absolute;
  width: 100px;
  height: 100px;
}

